@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1{
        color: green;
        margin-top: 20px;
        @apply text-6xl font-bold
    }

    h2{

        @apply bg-blue-300 mt-4 p-4 rounded-md text-white;
    }

    .testme{
        background: green;
    }

    .testme1{
        background: green;
        @apply mt-4;
    }
}

