@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    button{
        @apply text-white bg-blue-300 p-4 rounded-md my-4;
    }
}

.main{
    &__card{
        background: green;
        @apply flex justify-center rounded-sm text-white p-4 hover:bg-blue-300 cursor-pointer
    }
}

input[type="text"]{
    display: none;
}

input[type="checkbox"]:checked ~ input[type="text"]{
    background: green;
    margin-top: 10px;
    display: block;
}



p:first-of-type {
    font-weight: bold;
  }
  
/

